@import './../../styles/common/colors';

.container {
  .icon {
    height: 32vh;
    width: 32vw;
  }

  .message {
    color: black;
    font-size: 7vh;
    font-weight: 500;
    padding-top: 25px;
  }
}
