@import './../../styles/common/colors.scss';

@mixin baseContainer {
  color: $primary;
  display: inline-block;

  &:hover {
    border-radius: 3px;
    box-shadow: 0 20px 0 0 $secondary;
    color: $secondary;
    height: 3px;
  }
}

.link {
  .container {
    @include baseContainer;
  }
}

.linkActive {
  .container {
    @include baseContainer;
    color: $tertiary;

    &:hover {
      border: none;
      box-shadow: none;
      color: $tertiary;
    }
  }
}
