//reds
$pomegranate: #f44336;

// greens
$fruitSalad: #4caf50;
$oceanGreen: #42b983;

// blues
$cerulean: #03a9f4;
$sanMarino: #3f51b5;

// oranges
$orangePeel: #ff9800;

// purples
$purpleHeart:#673ab7;

// browns
$rock: #4e342e;

// blacks
$pickledBluewood: #2c3e50;

// site colors
$primary: $pickledBluewood;
$secondary: $oceanGreen;
$tertiary: $rock;
