.container {
  .modeToggle {
    left: 20px;
    position: absolute;
    top: 14px;
  }

  .linkContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 10px;
  }
}
