@import './../../styles/common/colors';

.container {
  @mixin modeToggleBase {
    height: 24px;
    left: 20px;
    position: absolute;
    top: 16px;
    width: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  .lightModeToggle {
    @include modeToggleBase;
    fill: white;
  }

  .darkModeToggle {
    @include modeToggleBase;
    fill: $primary;
  }

  .linkContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 10px;
  }
}
