@import './../../styles/common/colors';
@import './../../styles/common/mixins';

@mixin descriptionContainer {
  color: $tertiary;
  font-size: 18px;
  line-height: 2;
  width: 40vw;
}

.container {
  @include baseRootContainer;

  .title {
    color: $secondary;
  }

  .heading {
    color: $secondary;
  }

  .headshot {
    border-radius: 50%;
    height: 256px;
    width: 256px;

    &:hover {
      cursor: pointer;
    }
  }

  .biking {
    border-radius: 2%;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 40vw;
  }

  .careerContainer {
    @include descriptionContainer;
  }

  .socialContainer {
    @include descriptionContainer;
  }
}
