@import './../../styles/common/colors.scss';
@import './../../styles/common/mixins.scss';

@mixin descriptionContainer {
  width: 40vw;
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 2;
  color: $tertiary;
}

.container {
  @include baseRootContainer;

  .title {
    color: $secondary;
  }

  .heading {
    color: $secondary;
  }

  .headshot {
    border-radius: 50%;
    height: 256px;
    width: 256px;
  }

  .biking {
    width: 40vw;
    border-radius: 2%;
  }

  .careerContainer {
    @include descriptionContainer;
  }

  .socialContainer {
    @include descriptionContainer;
  }
}
