.container {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 16px;
  // TODO: use a theme color
  background-color: lightblue;

  // TODO: use theme color
  .logo {
    width: 18px;
    height: 18px;
  }

  // TODO: use theme color
  .label {
    font-size: 16px;
    padding-left: 5px;
  }
}
