@import './../../styles/common/colors.scss';

.container {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-left: 5px;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 16px;
  background-color: $gallery;

  .logo {
    width: 18px;
    height: 18px;
    fill: $primary;
  }

  .label {
    font-size: 16px;
    padding-left: 5px;
    color: $primary;
  }
}
